<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue-NeteaseMusic-Outchain Demo</title>
    <script src="./js/vue.js"></script>
    <style>
        html,
        body,
        #app {
            height: 100%;
            margin: 0;
        }

        #app {
            margin: 0 auto;
            max-width: 1000px;
        }

        #app> h1{
            word-break:break-all;
        }

        @media screen and (max-width: 1000px) {
            #app {
                max-width: 95%;
            }
        }
    </style>
<script type="text/javascript" src="/dist/VueNeteaseMusicOutchain.js?1cc2230bedceeb78b529"></script></head>
<body>
    <div id="app">
        <h1 style="margin: 0">在启动此实例前请先启动
            <a href="https://github.com/Binaryify/NeteaseCloudMusicApi" target="_blank">NeteaseCloudMusicApi ！</a>
        </h1>
        <h4 style="color:#ff0000">请注意2.0版本的接口参数发生改变，请注意修改！</h4>
        <div style="margin: 2em 0">
            <label>歌单编号：
                <input type="number" v-model="playlistInput"/>
            </label>
            <button @click="setPlaylist" style="margin-left: 2px">确定</button>
            <p>
                请求方式：
                <label>
                    <input type="radio" name="method" value="POST" v-model="redirect.method"/>POST
                </label>
                <label>
                    <input type="radio" name="method" value="GET" v-model="redirect.method"/>GET
                </label>
            </p>
        </div>
        <netease-music-outchain
            :playlist="Number(playlist)"
            :redirect="redirect"
            :lazy-load="lazyLoad"
            :auto-play="autoPlay"
            :hide-git="hideGit"
            :max-width="maxWidth"
            :max-height="maxHeight"
        />
    </div>
    <script>
        new Vue({
            el: '#app',
            components: {
                NeteaseMusicOutchain: VueNeteaseMusicOutchain
            },
            data: {
                lazyLoad: false,
                autoPlay: false,
                hideGit: false,
                redirect: {
                    method: "GET"
                },
                playlist: 614245400,
                playlistInput: 614245400,
                maxHeight: 0,
                maxWidth: 0
            },
            mounted: function() {
                this.playerResize();
                window.addEventListener("resize", this.playerResize);
            },
            methods: {
                setPlaylist: function() {
                    this.playlist = this.playlistInput;
                },
                playerResize: function() {
                    this.maxHeight = window.innerHeight / 2;
                    this.maxWidth = (window.innerWidth < 1000)? window.innerWidth : 1000;
                }
            }
        });
    </script>
</body>
</html>
