{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "add-module-exports",
        "transform-export-extensions",
        "transform-object-rest-spread"
    ]
}