{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "plugins": [
       "html"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "settings": {
        "import/ignore": [
            "node_modules"
        ]
    },
    "rules": {
        "comma-dangle": "off",
        "global-require": "off",
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "no-alert": "off",
        "no-bitwise": "off"
    },
    "globals": {
        "jQuery": false,
        "$": false
    }
}
