.list {
    border-top: 1px solid #e6e6e6;
    transition: all .6s ease;
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    ul.box {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        height: auto;
        li {
            display: flex;
            padding: 0;
            margin: 0;
            height: 30px;
            min-height: 30px;
            position: relative;
            line-height: 30px;
            float: left;
            list-style: none;
            cursor: default;
            .cur {
                width: 3px;
                height: 22px;
                position: absolute;
                left: 0;
                top: 4px;
                display: none;
                background: #df2d2d;
            }
            .index {
                width: 40px;
                text-align: center;
                color: #999;
            }
            .name {
                margin-right: .5em;
            }
            .pop {
                display: flex;
                align-items: center;
                margin-right: .5em;
                cursor: pointer;
                .hot{
                    width:1.2em
                }
            }
            .by {
                flex: 1;
                color: #666;
                text-align: right;
            }
        }
        li:nth-child(odd) {
            background: #f7f7f7;
        }
    }
}
.list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 8px;
}
.list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #757575;
}
.list::-webkit-scrollbar-button {
    display: none;
}
.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}