html,
body {
    height: 100%;
    margin: 0;
    min-width: 305px;
    overflow: auto;
}

body {
    margin: 0 auto;
    padding: 0 5%;
}

@media screen and (min-width: 1000px) {
    body {
        max-width: 1000px;
    }
}

h1 {
    word-break:break-all;
}
