html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0 auto;
    width: 95%;
}

@media screen and (min-width: 1000px) {
    body {
        max-width: 1000px;
    }
}

h1 {
    word-break:break-all;
}
