<div class="player-container"
     ref="playerContainer"
     @mousemove="mouseMove"
     @mouseup="mouseUp"
     @mouseleave="mouseUp"
     @touchmove="touchMove"
     @touchend="touchEnd"
     @touchleave="touchEnd"
     @touchcancel="touchEnd">
    <div class="f-cb">
        <Cover
            v-if="cover"
            :src="cover"
            :trackID="trackID"
            :playListID="playlist"
        />
        <div class="ctrlBox">
            <State
                v-if="audio"
                :audio="audio"
                :playList="playlist"
                :loading="musicLoading"
                :playListName="musicInfo.name"
                :trackName="(typeof playingIndex === 'number'? musicInfo.tracks[playingIndex].name : '无')"
            />
            <Tracker
                v-if="audio"
                ref="Tracker"
                :audio="audio"
                :duration="currentTrackDuration"
            />
            <div class="oprBox">
                <RemainingTime
                    v-if="audio"
                    :audio="audio"
                    :duration="currentTrackDuration"
                />
                <div class="btnGroup">
                    <div class="icon prev" @click="prev" v-html="icons.prev"></div>
                    <div class="icon play" @click="togglePlayPause" v-html="(paused)? icons.play : icons.pause"></div>
                    <div class="icon next" @click="next" v-html="icons.next"></div>
                </div>
                <div class="btnGroupRight" :style="`width:${btnGroupRightWidth}`">
                    <a href="//github.com/bugkun/vue-neteasemusic-outchain"
                       target="_blank"
                       class="icon git"
                       v-if="!hideGit" v-html="icons.github"
                       :style="isIOS? 'display:block !important' : null"></a>
                    <VolumeControl
                        v-if="!isIOS && audio"
                        ref="VolumeControl"
                        :audio="audio"
                    />
                    <div class="showLyrics" @click="showLyrics = !showLyrics" :style="showLyrics? 'color: #fff;background: #999;' : null">词</div>
                    <div class="icon list" @click="toggleList" v-html="icons.list"></div>
                </div>
            </div>
            <span class="quality" v-if="isNumber(playingIndex)" title="当前音质">{{ musicInfo.tracks[playingIndex].quality / 1000 }}K</span>
        </div>
    </div>
    <Lyrics
        :showLyrics="showLyrics"
        :id="lyricID"
        :currentTime="Math.floor(currentTime)"
        :redirect="MyRedirect"
    />
    <PlayList
        ref="playList"
        :musicInfoTracks="musicInfo.tracks? musicInfo.tracks : []"
        :playingIndex="playingIndex"
        @loadMusic="loadMusic"
        :maxHeight="playListMaxHeight"
    />
</div>
