.barContainer {
    position: relative;
    padding: 10px 5px;
    cursor: pointer;
    user-select: none;
    .bar {
        position: relative;
        left: 0;
        top: 0;
        height: 2px;
        overflow: hidden;
        background: #e5e9ef;
        .process{
            position: absolute;
            left: 0;
            top: 0;
            height: 2px;
            width: 100%;
            transform: translate3d(-100%, 0, 0);
            transition: transform .25s linear;
        }
        .buffered{
            z-index: 2;
            background: #cdcdcd;
            transition: transform .25s ease-in;
        }
        .played {
            z-index: 3;
            background: #e12828;
        }
    }
    .pointer{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        z-index: 3;
        width: 8px;
        height: 8px;
        cursor: pointer;
        transition: transform .25s linear;
        /deep/ svg {
            float: left;
        }
    }
}
.drag {
    transition: none !important;
}
