.btnGroup {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 72px;
    .prev,
    .next {
        width: 9px;
        height: 10px;
        cursor: pointer;
    }
    .prev {
        background-position: -33px 0;
    }
    .pause,
    .play {
        width: 14px;
        height: 18px;
        cursor: pointer;
        margin: 0 auto;
    }
    .pause {
        background-position: -36px -63px;
    }
    .play {
        background-position: 0 0;
    }
    .next {
        background-position: -58px 0;
    }
}
