.f-pr {
    position: relative;
    left: 0;
    top: 0;
    height: 36px;
    line-height: 36px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    zoom: 1;
    .title {
        display: flex;
        align-items: center;
        line-height: 18px;
        .logo, .loading {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 6px;
        }
        .bg.logo{
            background: url(//music.163.com/style/web2/img/outchain/audio_sprite.png) no-repeat 0 9999px;
            background-position: 0 -132px;
        }
        .loading{
            flex: 0 0 18px;
        }
    }
}
